<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LightTable.ShowFavoriteControls</key>
	<true/>
	<key>LightTable.SortKey</key>
	<integer>1</integer>
	<key>LightTable.ExtractThumbs</key>
	<true/>
	<key>LightTable.ThumbSize</key>
	<integer>3</integer>
	<key>MainWindow.ActiveVC</key>
	<integer>0</integer>
	<key>Develop.SidebarCollapsed</key>
	<false/>
</dict>
</plist>
