<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TSAdjustmentKeyExposureEV</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>TSAdjustmentKeyNoiseReductionLevel</key>
	<dict>
		<key>x</key>
		<real>0.02</real>
	</dict>
	<key>TSAdjustmentKeyNoiseReductionSharpness</key>
	<dict>
		<key>x</key>
		<real>0.4</real>
	</dict>
	<key>TSAdjustmentKeySharpenLuminance</key>
	<dict>
		<key>x</key>
		<real>0.4</real>
	</dict>
	<key>TSAdjustmentKeySharpenRadius</key>
	<dict>
		<key>x</key>
		<real>2.5</real>
	</dict>
	<key>TSAdjustmentKeySharpenIntensity</key>
	<dict>
		<key>x</key>
		<real>0.5</real>
	</dict>
	<key>TSAdjustmentKeySharpenMedianFilter</key>
	<dict>
		<key>x</key>
		<false/>
	</dict>
	<key>TSAdjustmentKeyToneSaturation</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyToneBrightness</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>TSAdjustmentKeyToneContrast</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyToneVibrance</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>TSAdjustmentKeyColourRed</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyColourOrange</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyColourYellow</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyColourGreen</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyColourAqua</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyColourBlue</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyColourPurple</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>TSAdjustmentKeyColourMagenta</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
